<div class="d-flex flex-column mt-5">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" class="d-flex flex-column">
  <mat-form-field>
    <input matInput type="text" placeholder="username" formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="password" formControlName="password">
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="loginForm.invalid">login</button>
  </form>
  <p *ngIf="error">username or password incorrect</p>
</div>
