<div class="d-flex mt-1">
  <p class="mr-1 ml-auto" (click)="logout()">Logout</p>
</div>
<h1 class="text-center">File d'attente admin</h1>
<div class="d-flex flex-column mt-5">
  <div *ngFor="let user of allUser" class="mb-4 d-flex mx-auto">
    <p>{{user.name}}</p>
    <button (click)="remove(user.id)" class="btn btn-success">Fini</button>
  </div>
</div>

