<div class="d-flex mt-1">
  <i class="fa fa-cog mr-1 ml-auto" (click)="loginModal = true"></i>
</div>

<div class="text-center">
  <h1>File d'attente</h1>
  <div class="mt-5">
    <p *ngFor="let user of allUser" class="mt-2">{{user.name}}</p>
  </div>
</div>

<div class="mt-5">
  <form [formGroup]="helpForm" (ngSubmit)="onSubmitForm()" id="formHelp" class="d-flex flex-column mx-auto">
  <mat-form-field class="mt-2">
    <input matInput type="text" placeholder="name" formControlName="name">
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="helpForm.invalid" class="mt-3 ml-auto">Help!</button>
  </form>
</div>

<div *ngIf="loginModal">
  <div>
    <div class="modal d-flex mx-auto size-modal">
        <div class="modal-body m-auto">
          <div class="d-flex row">
              <h1 class="col-11 text-center">Login admin</h1>
              <i (click)="loginModal = false" class="fa fa-times-circle-o mx-auto ml-auto" aria-hidden="true"></i>
          </div>
          <app-login></app-login>
        </div>
    </div>
    <div class="modal-background"></div>
  </div>
</div>
